html{
  scroll-padding-top: 52px;
  scroll-behavior: smooth;
  
  
}
body{
  background-color: #2e2e2e;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}
input {
  font-family: 'Share Tech Mono', monospace;
  font-size:14px;
}
.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
width: 100%;
z-index: 9999;
  background-color:transparent;
  margin-top: 0px;
  height: 52px;
  width: 100%;
  gap: 36px;
  backdrop-filter: blur(3px);
}
.cinepass{
 
  justify-content: center;
  align-items: middle;
  text-align: center;
}
.icon{
  height:20.94px;
  width:41.22px;
  padding-left:px;
}
.cinepasstext{
  font-family: "Holtwood One SC"; 
  font-size: 24px; 
  font-style: italic; 
  font-variant:small-caps;
  font-weight: 50;
  line-height: 26.4px;
  color: white;
  text-shadow: 1px 1px 0px #d9b138;
}

.contactbox{
  backdrop-filter: blur(3px);
  justify-content: center;
  text-align: center;
  transition: 0.2s;    
  
}
.contactbox a{
  padding-right:26px;
  text-decoration: none;
  color:white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px; 
  transition: 0.2s;
  
}
.contactbox a:hover{
  font-size: 18px;
  font-weight: bold;
  color:white;
  text-decoration: none;
  
}

.moviebox{
  padding: 62px 150px 0px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000069;
  backdrop-filter: blur(5px);
}

.imagebox img{
  height:260px;
  width:200px;
  border-style:solid;
  border-width: 4px;
  border-color: white;
}
.moviedetails{
  display: grid;
  align-items: start;
  padding-left: 24px;
}
.title{
font-size: 24px;
  font-family: Quicksand;
  color: white;
  font-weight: bold;
}
.moviedetails span{
  padding: 10px;
  font-family: Quicksand;
  color: white;
}
.selecttext{
font-family: 'Share Tech Mono', monospace;
font-size:18px;
padding-top: 12px;
color: grey;
display: flex;
text-align: center;
justify-content: center;
}
.todaydate{
padding: 24px 180px 10px 180px;
display: flex;
align-items: center;
text-align: left;
}
.todaydate a{
transition: 0.2s;
}
.today{
color:white;
padding-right: 40px;
font-size:20px;
font-weight: bolder;
font-family: Quicksand;

}
.tommorrow{
color:#ddd;
padding-right: 34px;
font-size:16px;
font-weight: 400;
font-family: Quicksand;
}
.tommorrow:hover{
color: yellow;
}

.theatrelist{
padding: 24px 210px 10px 210px;
display: grid;
font-family: Quicksand;
font-size: 20px;
color: #ddd;
align-items: center;
text-align: left;
}
.theatrelist span{
padding-right: 33px;
}
.box{
padding-bottom: 14px;
}
.screentime a{
padding-right: 33px;
padding-left:24px;
text-decoration: none;
color: #ddd;
font-size: 16px;
font-weight: 400;
transition: 0.3s;
}
.screentime a:hover{
color: yellow;
font-size: 20px;
font-weight: 600;
}
.theatrelist hr{
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px auto;
  margin-bottom: 20px auto;
}

.usesearch{
font-size: 14px;
font-family: 'Share Tech Mono', monospace;
text-align:center;
padding-top:24px;
color:grey;
text-align: center;
}

.footer{
display: inline-block;
height:100%;
width:100%;
background-color: #8a1200;
text-align:center;

}
.footer p{
padding-top:24px;
}
.footer a{
font-size: 18px;
font-family: 'Share Tech Mono', monospace;
text-decoration: none;
color:white;
padding-right:24px;
}
.footer img{
height:25px;
width:25px;
transition: 0.3s;
filter: brightness(100%) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.footer img:hover{
height:31px;
width:31px;
transition: 0.5s;
}
.feedbacksection{
font-family: 'Share Tech Mono', monospace;
text-align:center;
padding-top:16px;
color:white;
justify-content: center;
gap: 0px;
}
.feedbacksection input{
margin:12px;
background: #831201;
height:26px;width:15%;
text-align: center;
border-radius: 8px 8px 8px 8px;
border-style: solid;
border-color: #fca294;
transition: 0.3s;
}
.feedbacksection input:focus{
box-shadow: 0 0 6px rgba(33,33,33,.2); 
height:100px;width:50%;
overflow: auto;
}
.feedbacksection button{
height:27.29px;padding: 3px 12px 3px 12px;
color:grey;
border:none;
font-family: Quicksand;
font-size: 14px; font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 23px;
border-radius: 6px 6px 6px 6px;
margin-bottom:12px;
}
.feedbacksection button:hover{
background-color: #530b00;
color: white;
}
.footerlinks{
margin: 18px 180px 18px 180px;
transition-duration: 0.2s;
cursor: pointer;
display:flex;
flex-wrap: wrap;
gap:16px;
justify-content: center;
font-family: 'Share Tech Mono', monospace;
color:lightgrey;
font-size:16px;
}
.browseall{
width:262px;
height:230px;
background-color: #8a1200;
display: grid;gap: 0px;
justify-content: center;
align-items: middle;
text-align: center;
border-radius:6px;
}
.browseall p{
font-size:16px;
text-align: center;
}

.browseall a{
font-size:12px;
text-decoration-line: underline;
transition: 0.3s;}
.browseall a:hover{
  font-size:16px;
  text-decoration-line: underline;
  }



@media all and (max-width:873px){
html{
  scroll-padding-top: 52px;
  scroll-behavior: smooth;
  
  
}
body{
  background-color: #2e2e2e;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}
input {
  font-family: 'Share Tech Mono', monospace;
  font-size:14px;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
width: 100%;
z-index: 9999;
  background-color:transparent;
  margin-top: 0px;
  height: 42px;
  width: 100%;
  gap: 36px;
  backdrop-filter: blur(3px);

}

.cinepass{
 
  justify-content: center;
  align-items: middle;
  text-align: center;
}
.icon{
  height:20.94px;
  width:41.22px;
  padding-left:0px;
}
/*.cinepasstextbox{
  gap:0px;
}
.cinepasstextCP{
  font-family: "Holtwood One SC"; 
  font-size: 24px; 
  font-style: italic; 
  font-variant:small-caps;
  font-weight: 50;
  line-height: 26.4px;
  color:#8a1200;
}*/
.cinepasstext{
  font-family: "Holtwood One SC"; 
  font-size: 24px; 
  font-style: italic; 
  font-variant:small-caps;
  font-weight: 50;
  line-height: 26.4px;
  color: white;
  text-shadow: 1px 1px 0px #d9b138;
}

.contactbox{
  display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   /* padding-right:6px; */
 }
 .contactbox a{
   padding-right:6px;
   text-decoration: none;
   color:white;
   font-family: Quicksand;
   font-size: 9px; font-style: normal;
   font-variant: normal;
   font-weight: 400;
 }
 .contactbox a:hover{
   font-size: 16px;
   font-weight: bold;
   color:white;
   text-decoration: none;
   
 }

.moviebox{
  padding: 52px 0px 0px 6px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #00000069;
  backdrop-filter: blur(5px);
}

.imagebox img{
  height:195px;
  width:150px;
  border-style: double;
  border-color: white;
}
.moviedetails{
  display: grid;
  align-items: start;
  padding-left: 4px;
}
.moviedetails span{
  padding: 4px;
  font-family: Quicksand;
  color: white;
  font-size: 10px;
}

.selecttext{
font-family: 'Share Tech Mono', monospace;
font-size:10px;
padding: 12px 12px 0px 12px;
color: grey;
display: flex;
text-align: center;
justify-content: center;
}
.todaydate{
padding: 12px 12px 0px 12px;
display: flex;
align-items: center;
text-align: left;
}
.todaydate a{
transition: 0.2s;
}
.today{
color:white;
padding-right: 24px;
font-size:12px;
font-weight: bolder;
font-family: Quicksand;

}
.tommorrow{
color:#ddd;
padding-right: 34px;
font-size:11px;
font-weight: 400;
font-family: Quicksand;
}
.tommorrow:hover{
color: yellow;
}

.theatrelist{
padding: 12px 12px 0px 12px;
display: grid;
font-family: Quicksand;
font-size: 10px;
color: #ddd;
align-items: center;
text-align: left;
}
.theatrelist span{
padding-right: 0px;
}
.box{
padding-bottom: 12px;
}
.screentime a{
padding-right: 0px;
padding-left:12px;
text-decoration: none;
color: #ddd;
font-size: 10px;
font-weight: 400;
transition: 0.3s;
}
.screentime a:hover{
color: yellow;
font-size: 10px;
font-weight: 600;
}
.theatrelist hr{
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px auto;
  margin-bottom: 20px auto;
}

.usesearch{
font-size: 14px;
font-family: 'Share Tech Mono', monospace;
text-align:center;
padding-top:24px;
color:grey;
text-align: center;
}

.footer{
  height:100%;
  width:100%;
  background-color: #8a1200; 
  }
  
  .footer a{
  font-size: 18px;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: underline;
  color:white;
  }
  .feedbacksection{
  font-family: 'Share Tech Mono', monospace;
  text-align:center;
  padding-top:16px;
  color:white;
  justify-content: center;
  gap: 0px;
  }
  .feedbacksection input{
  margin:12px;
  background: #831201;
  height:30px;width:60%;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  border-style: solid;
  border-color: #fca294;
  }
  .feedbacksection input:hover{
  box-shadow: 0 0 6px rgba(33,33,33,.2);
  height:100px;width:60%; 
  }
  .feedbacksection button{
  height:27.29px;padding: 3px 12px 3px 12px;
  color:grey;
  border:none;
  font-family: Quicksand;
  font-size: 14px; font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  border-radius: 6px 6px 6px 6px;
  margin-bottom:12px;
  }
  .feedbacksection button:hover{
  background-color: #530b00;
  color: white;
  }
  .footerlinks{
  text-align: center;
  margin: 18px 180px 18px 180px;
  transition-duration: 0.2s;
  cursor: pointer;
  display:grid;
  flex-wrap: wrap;
  gap:16px;
  justify-content: center;
  font-family: 'Share Tech Mono', monospace;
  color:lightgrey;
  font-size:16px;
  }
  .browseall{
  width:262px;
  height:200px;
  background-color: #8a1200;
  display: grid;gap: 0px;
  justify-content: center;
  align-items: middle;
  text-align: center;
  border-radius:6px;
  }
  .browseall p{
  font-size:16px;
  text-align: center;
  }
  
  .browseall a{
  font-size:12px;
  text-decoration-line: underline;
  }
  
}

